* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: solid black 1px;
  width: 150px;
  top:  150%;
  right: 0%;
  display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.category {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.category p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sales-image{
    position: relative;
}

.sales-image img {
    width: 100%;
   
}

.sales-image__text {
    width: 400px;
    position:absolute;
    background-color: white;
    padding: 2%;
    border: solid black 2px;
    top: 5%;
    left: 5%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-card {
    width: 350px;
}

.course-card img {
    width: 100%;
    margin-top: 10px;
    height: 60%;
}

.topic {
    padding: 10px;
}

.topic__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 1px;
}

.topic__container p {
    border: solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.footer {
    padding: 10px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: 20px;
    text-align: center;
}